*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary);
    accent-color: var(--primary);
    list-style: none;
    transition:all 0.5s ease-in-out;
}
:root{
    --primary:rgba(17, 8, 8, 0.808);
    --bg:#ffffff;
}
body{
    min-width: 1200px;
    background-color:var(--bg);
    color: var(--primary);
    font-family:sans-serif;
}

/* navbar styling  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 3rem;
    border-bottom: var(--primary) solid 1px;
}
.logo{
    font-size: 2rem;
    font-weight: 500;
    font-variant: small-caps;
}
.menu{
    display: flex;
    gap: 1rem;
}
.menu li{
    padding: 0.4rem 0.8rem;
    position: relative;
    cursor: pointer;
}
.menu li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    transform-origin: right;
    height: 100%;
    background-color: var(--bg);
    z-index: -1;
}
.menu li:hover::before{
    background-color: var(--primary);
    width: 100%;
    border-radius:3rem;
}
.menu li:hover{
    color: aliceblue;
}

/* main content styling */
main{
padding: 0.3rem 1rem;
}
.data-table{
    width: 100%;
    border:1px solid var(--primary);
    empty-cells: show;
}
.data-table tbody td{
    padding: 5px;
    font-size: 0.8rem;
    border: 1px solid var(--primary);
}
.data-table tbody tr{
    width: min-content;
    white-space: nowrap;

}